@page "/attacks"
@inherits AttackListBase

        <Titles Text="Attacks"
                BackButton="true" BackRoute="#"
                NewButton="true" NewRoute="attacks/create"
                SearchInput="true" SearchMethod="UpdateFilterList" />

        @if (AttackList == null || AttackList.Count() == 0)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="table-expandable">
                <table class="table table-sm  table-borderless table-responsive w-100 d-block d-xl-table">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Attribute</th>
                            <th>Jutsu</th>
                            <th>Causing</th>
                            <th>Effects</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <AttackFilter FilteredList="@FilteredList" @ref="@filterAttacks">
                        <RenderFragment />
                    </AttackFilter>
                </table>
            </div>
        }