@inherits ConfirmBase

@if (ShowConfirm == true)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@ConfirmTitle</h5>
                    <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close"
                            @onclick="() => OnConfirmationChange(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ConfirmMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal"
                            @onclick="() => OnConfirmationChange(false)">
                        @ConfirmNo
                    </button>
                    <button type="button" class="btn btn-primary rounded-pill"
                            @onclick="() => OnConfirmationChange(true)">
                        @ConfirmYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}
