<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ComboSimulator</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ninjas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ninjas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mysteries">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mysteries
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="attacks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Attacks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chases">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chases
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="passives">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Passives
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
