@page "/chases/{id}"
@inherits ChaseInfoBase

        <Titles Text="Chase Details"
                BackButton="true" BackRoute="chases"
                EditButton="true" EditRoute="@EditRoute"
                DeleteButton="true" DeleteMethod="Delete_Click" />

        @if (ChaseModel == null)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div>
                <table class="table table-sm  table-borderless table-responsive w-100 d-block d-md-table">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Attribute</th>
                            <th>Jutsu</th>
                            <th>Chasing</th>
                            <th>Causing</th>
                            <th>Effect</th>
                            <th>Hits</th>
                            <th>Repeat</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ChaseDisplay Chase="ChaseModel" IsList="false" />
                    </tbody>
                </table>
            </div>
        }

        <Confirm ConfirmChanged="ConfirmDelete_Click" @ref="DeleteConfirmation"
                 ConfirmMessage="@($"Are you sure you want to delete chase Id: {ChaseModel.Id} ?")"
                 ConfirmTitle="Confirm Delete"
                 ConfirmYes="Delete"
                 ConfirmNo="Cancel"></Confirm>